*{
  font-family: 'Antic Didone', serif;
}

//***********
//NAVBAR
//***********

.navbar-item{
  color: black;
  font-size: 20px;
  font-weight: 600;
  img {
    min-height: 50px;
    min-width: 50px;
  }
}

.nav-container {
  border-bottom: 1px solid #cccccc;
}

#navMenu {
  background-color: white;
  border-bottom: 1px solid #cccccc;
}

//***********
//ABOUT PAGE
//***********

.container-about{
  text-align: center;
  font-weight: bold;
}

.container-about h2{
  font-size: 30px;
}


.container-about h3{
  padding-top: 10px;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

//*****************
//HOME PAGE
//*****************

.hero-body {
  background-color: #686868;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -80px;
  text-align: center;
  font-family: 'Antic Didone', serif;
  color: white;
  h2 {
    padding-bottom: 20px;
  }
}

.title-main {
  text-align: center;
  color: white;
  font-size: 42px;
  padding: 15px;
}

.hero is-primary {
  padding-top: 0px;
}
.navbar-item img{
  display: inline-flex;
}
.container ul li {
  color: grey;
}
.section-grid {
  display: inline-block;
}

//************
//flickity.css
//************

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #EEE;
}

.carousel img {
  display: block;
  min-height: 550px;
  min-width: 800px;
}

@media screen and ( min-width: 768px ) {
  .carousel img {
    height: 400px;
  }
}

.carousel-portfolio img {
  display: block;
  min-height: 250px;
  min-width: 250px;
}

.carousel-portfolio {
  background: #EEE;
  margin-bottom: 50px;
}


//*********
//LOGIN/REG
//*********

.section {
  background-color: white;
}

.section form {
  font-weight: bold;
}
.container-register{
  background-color: #8d6c65;
  width: 300px;
  display: flex;
  display:table;
  height:100%;
  margin:
  0 auto;
}
.container-login{
  width: 300px;
  display: flex;
  display:table;
  height:100%;
  margin:
  0 auto;
  padding-bottom: 500px;

}
//   @media screen and (min-width: 600px) {
//   .notification form input{
//       width: 200px;
//   }
// }


.notification form {
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 50px;
  justify-content: center;
}

.notification h2{
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-size: 25px;
  padding-top: 50px;
}

.notification button{
  width: 300px;
}

.control-label

input[type="checkbox"] {
    display: inline-block;
    width: 15px;
    vertical-align: center;
}

.notification form input {
  width: 300px;
}

.notification .field-submit button {
  width: 300px;
}


//******************
//NEW PORTFOLIO PAGE
//******************

.container-newPortfolio {
  background-color: #8d6c65;
  width: 500px;
  display: flex;
  display:table;
  height:100%;
  margin:
  0 auto;
}

.section-portfolioIndex {
  padding-bottom: 50px;
}

//******************
//INDEX PICTURE PAGE
//******************

.card-imageInx img{
  border: none;
  display: inline-block;
  object-fit: cover;
}



//********************
//INDEX PORTFOLIO PAGE
//********************

.card-image img{
  height: 250px;
  object-fit: cover;
}

.container-userProfile button {
  color: red;
}

.section-portfolioIndex {
  background-color: #f8f8f8;
  padding-top: 100px;
}

.stylistHeadline {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 15px;
}

.media-name{
  padding: 5px;
  min-height: 20px;
}
.media-info {
  padding: 5px;
  min-height: 50px;
}

.img__wrap {
  position: relative;
}

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  color: #fff;
  font-weight: 500;
  text-align: center;
  padding-top: 40%;
  visibility: hidden;
  opacity: 0;
  font-size: 20px;
  transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 0.5;
}


//*******************
//PORTFOLIO SHOW PAGE
//*******************

.largeImg {
  min-width: 550;
  min-height: 375;
}

.aboutstylist {
  font-size: 18px;
  padding-bottom: 10px;
}

.aboutsalon {
  font-size: 18px;
  padding-bottom: 10px;
}

.container-smallImg h1 {
  color: grey;
  margin-left: 10px;
  margin-top: 20px;
}
// .container-smallImg {
//   margin: 50px;
// }

.container-smallImg img {
  object-fit: cover;
}

#map {
  width: 600px;
  height: 400px;
  background-color: grey;
  margin-top: 50px;
}

@media screen and ( max-width: 600px ) {
  #map {
    max-width: 300px;
    max-height: 250px;
    }
  }

@media screen and ( max-width: 600px ) {
  .sectionComments {
    max-width: 300px;
  }
}

@media screen and ( max-width: 600px ) {
  .textarea {
    min-width: 300px;
  }
}

.container-smallImg img{
  width: 200px;
  height: 200px;
  margin: 10px 10px;
  padding-left: 2px;
  padding-right: 2px;
}

.sectionComments{
  display: inline-block;
}

.media-content{
  border: fine grey;
  width: 300px;
}

.container-comments {
  border: 10px;
  padding: 10px;
}

.container-portfolioshow .column {
  margin: 20px;
}

.container-portfolioshow .image img {
  max-width: 600px;
  max-height: 400px;
}

//*****************
//PICTURE SHOW PAGE
//*****************


.container-hairSection img {
  min-height: 320px;
  min-width: 320px;
  object-fit: cover;
}

.card-abouthairstyle {
  text-align: center;
  min-width: 300px;
  li {
    padding: 10px;
    font-size: 20px;
  }
}

.card-aboutstylistsalon {
  text-align: center;
  min-width: 300px;
  li {
    padding: 10px;
    font-size: 20px;
  }
}
