body{
  font-family: 'Antic Didone', serif;
}
.container-about{
  text-align: center;
  font-weight: bold;
}

.stylistControls p{
  color: red;
}

.stylistControls button{
  color: red;
}


.container-about h2{
  font-size: 30px;
}

.container-about h3{
  font-size: 25px;
  padding-top: 10px;
}

.subtitle{
  font-size: 50px;
  font-weight: bolder;
}

.hero-body {
  background: url('https://i.imgur.com/JEKVrdS.jpg?1') 50% no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-item img{
  display: inline-flex;

}

.container ul li {
  color: grey;
}

.section-grid {
  display: inline-block;
}
//styling picture page (index of hairstyles)
.card-imageInx img{
  border: none;
  display: inline-block;
  margin: 10px 20px;
}
//styling the portfolio page(index of portfolios)
.card-image img{
  border: solid grey 1px;
  height: 250px;
}
//styling hairpics for each hairdresser
.container-smallImg img{
  width: 200px;
  height: 200px;
  margin: 10px 10px;
  padding-left: 2px;
  padding-right: 2px;
}
.container-largeImg img{
  border: solid grey 1px;
}
//styling text on the portfolio hairdresser page
.container-smallImg h1 {
  color: grey;
  margin-left: 10px;
  margin-top: 20px;
}
.container-smallImg a {
  margin-left: 10px;
  margin-top: 20px;
}

//styling of the hair link which you can delete or edit
.container-hairSection img {
  height: 500px;
  width: 500px;
}

.media-name p {
  margin: 5px;
}

.media-contact {
  margin: 5px;
}
//comment section

.sectionComments{
  display: inline-block;
}

.media-content{
  border: fine grey;
  width: 300px;
}

.contact{
  width: 300px;
}
