body{
  font-family: 'Antic Didone', serif;
}

.subtitle{
  font-size: 50px;
  font-weight: bolder;
}

.hero-body {
  background: url('https://i.imgur.com/JEKVrdS.jpg?1') 50% no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-item img{
  display: inline-flex;

}

.container ul li {
  color: grey;
}




.container-hairSection img {
  border: solid yellow 1px;
}

.section-grid {
  display: inline-block;
}
//styling picture page (index of hairstyles)
.card-imageInx img{
  border: none;
  display: inline-block;
  margin: 10px 20px;
}
//styling the portfolio page(index of portfolios)
.card-image img{
  border: solid grey 1px;
  height: 250px;
}
//styling portfolio hairdresser page
.container-smallImg h1 {
  color: grey;
  margin-left: 10px;
  margin-top: 20px;
}
.container-smallImg a {
  margin-left: 10px;
}


.container-largeImg img{
  border: solid grey 1px;
}

//styling hairpics for each hairdresser
.container-smallImg img{
  width: 200px;
  height: 200px;
  margin: 10px 10px;
  padding-left: 2px;
  padding-right: 2px;
}

.media-name p {
  margin: 5px;
}

.media-contact {
  margin: 5px;
}

.comment {
  border: grey 1px;
}

.sectionComments{
  display: inline-block;
}
