body{
  font-family: 'Antic Didone', serif;
}

.subtitle{
  font-size: 50px;
  font-weight: bolder;
}

.hero-body {
  background: url('https://i.imgur.com/JEKVrdS.jpg?1') 50% no-repeat;
  // background: url('https://i.pinimg.com/564x/e1/60/76/e1607688d972adadd0196dd1e3d600b5.jpg') 50% no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-item img{
  display: inline-flex;

}

.container ul li {
  color: grey;
}

.container-largeImg img{

  border: solid blue 1px;
}

.container-smallImg img{
  border: solid red 1p;
  max-width: 200px;
}

.section {
  padding-left: 0px;
}

.container-hairSection img {
  border: solid yellow 1px;
}

.container-gridLayout img {
  border: solid green 1px;
}

.card-image img {
  display: flex;
  border: solid grey 1px;
  height: 250px;
  // height: 100%;
}

.media-name p {
  margin: 5px;
}

.media-contact {
  margin: 5px;
}

.comment {
  border: solid grey 1px;
}

.sectionComments{
  display: inline-block;
}
