body{
  font-family: 'Antic Didone', serif;
}

.subtitle{
  font-size: 50px;
  font-weight: bolder;
}

.hero-body {
  background: url('https://i.imgur.com/JEKVrdS.jpg?1') 50% no-repeat;
  // background: url('https://i.pinimg.com/564x/e1/60/76/e1607688d972adadd0196dd1e3d600b5.jpg') 50% no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-item img{
  display: inline-flex;
}

.container ul li {
  color: grey;
}

.container img{
  border: solid 1px;
  width: max-width 300px;
}

.card-image img {
  border: solid 1px;
  height: 200px;
  height: max-height 500px;
}

.comment {
    border: solid 1px;

}
