<form method="POST" action="/register">
  <div class="field">
    <label class="label">First Name</label>
    <div class="control">
      <input class="input" type="text" placeholder="Text input" name="firstName" id="firstname">
    </div>
  </div>
  <div>
  <div class="field">
    <label class="label">Last Name</label>
    <div class="control">
      <input class="input" type="text" placeholder="Text input" name="lastName" id="lastname">
    </div>
  </div>
  <div class="field">
    <label class="label">Username</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input is-success" type="text" username="username" id="username">
      <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span>
    </div>
    <p class="help is-success">This username is available</p>
  </div>
  <div class="field">
  <div class="field">
    <label class="label">Email</label>
    <div class="control">
      <input type="text" name="email" id="email" class="input" type="email" placeholder="e.g. alexsmith@gmail.com">
    </div>
  </div>
  <div class="field">
    <label for="label">Password</label>
    <p class="control has-icons-left">
      <input type="password" name="password" id="password" class="input" type="password" placeholder="Password">
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
  </div>
  <div class="field">
    <label for="label">Password Confirmation</label>
    <p class="control has-icons-left">
      <input type="password" name="passwordConfirmation" id="passwordConfirmation" class="input" type="password" placeholder="password">
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
  </div>
  <div>
    <label for="isHairdresser">Are you a hairdresser?</label>
    <input type="checkbox" value="true" name="isHairdresser" id="isHairdresser">
  </div>
  <div class="field is-grouped">
    <div class="control">
      <button class="button">Register</button>
    </div>
  </div>
  </form>
