<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="https://i2.wp.com/www.bondihairstylist.com.au/wp-content/uploads/stylist-logo-black.png?zoom=2&resize=892%2C615" alt="sytlist logo" width="50" height="100">
    </a>
    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-start">
        <a href="/login" class="navbar-item">
          Login
        </a>
        <a href="/register" class="navbar-item">
          Register
        </a>
    </div>
    <% if(locals.isLoggedIn){ %>
      <a href="/logout" class="navbar-item">
        logout
      </a>
      <% } %>
    <div class="navbar-end">
      <a href="/hair" class="navbar-item">
        Hair
      </a>
      <a href="/about" class="navbar-item">
        About
      </a>
    </div>
  </div>
</nav>
