<body>
  <section class="section-title">
    <div class="container">
      <%# <h1 class="title">
        HAIR STYLIST LONDON
      </h1> %>
      <h2 class="subtitle has-text-white has-text-centered">
        Find London's best hairdressers
      </h2>
    </div>
  </section>
</body>

<!-- Flickity HTML init -->
<div class="carousel" data-flickity='{ "autoPlay": true, "wrapAround": true }'>
  <div class="salons">
    <img src="https://i.imgur.com/b9xyDMx.png" alt="salon" />
    <div class="background-black-grunge">
      <h1 class="title has-text-grey has-text-centered is-size-0.5">Find London's hottest salons</h1>
    </div>
  </div>
  <img src="https://i.imgur.com/Rjxe8dx.png" alt="submerged" />
  <img src="https://i.imgur.com/4rkoZW1.png" alt="look-out" />
  <img src="https://i.imgur.com/WSZX6Iq.png" alt="One World Trade" />
  <img src="https://i.imgur.com/cUrsfPy.png" alt="drizzle" />
  <img src="https://i.imgur.com/nrUKhmP.png" alt="cat nose" />
</div>
