<body>
  <section class="section">
    <div class="container">    
      <h1 class="title">
        Stylist No1
      </h1>
      <h2 class="subtitle">
        Find London's best hairdressers
      </h2>
    </div>
  </section>
</body>
