* {
  font-family: 'Antic Didone', serif; }

.navbar-item {
  color: black;
  font-size: 20px;
  font-weight: 600; }
  .navbar-item img {
    min-height: 50px;
    min-width: 50px; }

.nav-container {
  border-bottom: 1px solid #cccccc; }

#navMenu {
  background-color: white;
  border-bottom: 1px solid #cccccc; }

.container-about h3 {
  font-weight: bold;
  font-size: 25px;
  text-align: center; }

.container-about h4 {
  font-weight: bold;
  font-size: 18px;
  text-align: center; }

.container-about img {
  margin-left: 12%; }

.subtitle-about {
  font-size: 50px;
  font-weight: bolder; }

.hero-body {
  background-color: #686868;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -80px;
  text-align: center;
  font-family: 'Antic Didone', serif;
  color: white; }
  .hero-body h2 {
    padding-bottom: 20px; }

.title-main {
  text-align: center;
  color: white;
  font-size: 42px;
  padding: 15px; }

.hero is-primary {
  padding-top: 0px; }

.navbar-item img {
  display: inline-flex; }

.container ul li {
  color: grey; }

.section-grid {
  display: inline-block; }

* {
  box-sizing: border-box; }

body {
  font-family: sans-serif; }

.carousel {
  background: #EEE; }

.carousel img {
  display: block;
  min-height: 550px;
  min-width: 800px; }

@media screen and (min-width: 768px) {
  .carousel img {
    height: 400px; } }
.carousel-portfolio img {
  display: block;
  min-height: 250px;
  min-width: 250px; }

.carousel-portfolio {
  background: #EEE; }

.section {
  background-color: white; }

.section form {
  font-weight: bold; }

.container-register {
  background-color: #8d6c65;
  width: 500px;
  display: flex;
  display: table;
  height: 100%;
  margin: 0 auto; }

.container-login {
  width: 500px;
  display: flex;
  display: table;
  height: 100%;
  margin: 0 auto; }

.notification form {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 40px 150px; }

.notification h2 {
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-size: 25px; }

.notification button {
  width: 300px; }

.control-label
input[type="checkbox"] {
  display: inline-block;
  width: 15px;
  vertical-align: center; }

.notification form input {
  width: 300px; }

.notification .field-submit button {
  width: 300px; }

.container-newPortfolio {
  background-color: #8d6c65;
  width: 500px;
  display: flex;
  display: table;
  height: 100%;
  margin: 0 auto; }

.control-cancel {
  align-items: center; }

.card-imageInx img {
  border: none;
  display: inline-block;
  margin: 20px 20px;
  object-fit: cover; }

.card-image img {
  height: 250px;
  object-fit: cover; }

.container-userProfile button {
  color: red; }

.section-portfolioIndex {
  background-color: #f8f8f8;
  padding-top: 100px; }

.stylistHeadline {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 15px; }

.media-name {
  padding-top: 5px;
  min-height: 20px; }

.media-info {
  padding: 5px;
  min-height: 50px; }

.img__wrap {
  position: relative; }

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  color: #fff;
  font-weight: 500;
  text-align: center;
  padding-top: 40%;
  visibility: hidden;
  opacity: 0;
  font-size: 20px;
  transition: opacity .2s, visibility .2s; }

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 0.5; }

.container-smallImg img {
  width: 200px;
  height: 200px;
  margin: 10px 10px;
  padding-left: 2px;
  padding-right: 2px; }

.aboutstylist {
  font-size: 18px;
  padding-bottom: 10px; }

.aboutsalon {
  font-size: 18px;
  padding-bottom: 10px; }

.container-smallImg h1 {
  color: grey;
  margin-left: 10px;
  margin-top: 20px; }

.container-smallImg {
  margin-left: 10px;
  margin-top: 20px; }

.container-smallImg img {
  object-fit: cover; }

#map {
  width: 600px;
  height: 400px;
  background-color: grey; }

.container-hairSection {
  display: inline-flex; }

.container-hairSection img {
  height: 500px;
  width: 500px;
  object-fit: cover; }

.card-media {
  min-width: 500px;
  padding-left: 100px; }

.media-name p {
  margin: 5px; }

.media-contact {
  margin: 5px; }

.comment {
  border: grey 1px; }

.sectionComments {
  display: inline-block; }

.field {
  width: 300px; }

/*# sourceMappingURL=style.css.map */
