
<body>
  <section class="section">
    <div class="container-about">
      <h3 class="title">About Stylist No1</h1>
      <h3 class="subtitle">
        Stylist No1 is London's Digital Hairstylist app, offering clients the ability to review hairdressers portfolio and selec some of Central London's prime luxury salons offering the best hair care. Providing a platform for clents to be able to search for their next perfect hairstyle.
      </h3>
      <h4>Selected hairdresser and barbars in London hotspots.</h4>
    </div>
  </section>
</body>
