
<body>
  <section class="section">
    <div class="container-about">
      <h1 class="title">About Stylist No1</h1>
      <h2 class="heading">
        Stylist is London's digital hairstylist app, offering clients the ability to review hairdressers portfolio and select some of central London's prime luxury salons offering the best hair care. Providing a platform for clients to be able to search for their next perfect hairstyle.</h2>
      <h3 class="subheading">Selected hairdresser and barbars in London hotspots</h3>
    </div>
  </section>
</body>
