
<body>
  <section class="section">
    <div class="container-about">
      <h2 class="title">About Hairsyle App</h2>
      <h2>Selected hairdresser and barbars in London hotspots.</h2>
      <img src="https://i.imgur.com/Nl4V4jL.png" alt="ladies hair" />
      <h3 class="subtitle-about">
        Hairsyle is London's Digital Hairstylist app, offering clients the ability to review hairdressers portfolio and select some of Central London's prime luxury salons offering the best hair care. Providing a platform for clents to be able to search for their next perfect hairstyle.
      </h3>
    </div>
  </section>
</body>
