<form action="/pictures/<%= picture.id %>" method="POST">
    <input type="hidden" name="_method" value="PUT">
    <div>
        <label for="title">Title</label>
        <input type="text" name="title" id="title" value="<%= picture.title %>">
    </div>
    <div>
        <label for="url">Url</label>
        <input type="url" name="url" id="url"  value="<%= picture.url %>">
    </div>
    <div>
      <button name="button">Submit</button>
    </div>
</form>
