  <div class= "columns is-multiline">
    <% pictures.forEach( picture =>{ %>
      <div class="card">
        <div class="card-imageInx">
          <figure class="image is-256x256">
            <a href='/pictures/<%= picture.id %>'>
            <img style="max-width: 250px; max-height: 250px " src='<%= picture.url %>' alt='<%= picture.title %>'
            </a>
          </figure>
          </div>
        </div>
    <% }) %>
  </div>
