<h2>  <%= picture.title %></h2>
<img src='<%= picture.url %>' alt='<%= picture.title %>' />

<form class="" action="/pictures/<%= picture.id %>/comment" method="post">
  <textarea name="content" rows="8" cols="80"></textarea>
  <button name="button">Post a comment</button>
</form>
<%# if statement if hairdresser
edit pics and portfolio info %>
